.ImageForm { 
        display: block;
        margin: 0 auto;
        height:600px;
        width: 100%;
        background-image: url(./image.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
}

