body {
    padding: 0px;
    margin: 0px;
    font-family: 'Anton', sans-serif;
    color: black;
    font-size: 16px;
    background-color:#FFFFCC;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 30px;
    text-transform: uppercase;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto; 
}

.header {
    background: url('../img/header-bg.jpg') no-repeat center top / cover;
    padding-top: 57px;
    color: #FFFFFF;
    padding-bottom: 322px;
}

header a {
    color:#FFFFFF;
}

.logo {
    margin-right: 70px;
}

.menu {
    display: flex;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.menu li {
    margin-right: 40px;
    display: flex;
    transition: all 0.5s ease;
}

.menu li a:hover {
    background: #fff;
    color: #000;
}

.tel {
    font-size: 13px;
    text-decoration: none;
    margin-left: auto;
    letter-spacing: 0.1em;
    transition: all 0.5s ease;
}

.tel:hover {
    background: #fff;
    color: #000;
}

.nav {
    display: flex;
    align-items: center;
}
 
.offer {
    text-transform: uppercase;
    margin-top: 216px;
}

.offer p {
    font-size: 30px;
    letter-spacing: 0.1em;
}

.offer h1 {
    font-size: 100px;
    margin-bottom: 19px;
    margin-top: -9px;
    letter-spacing: 0.1em;
}

.btn {
    display: block;
    position: absolute;
    width: 238px;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    border: 1px solid #FFFFFF;
    transition: all 0.5s ease;
}

.btn:hover {
    background: #fff;
    color: #000;
}


.description {
    display: flex;
    justify-content: space-between;
}

.description p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: larger;
    margin: 10px;
}

h2 {
    font-size: 50px;
    margin-bottom: 28px;
    color: gray;
}

h3 {
    font-size: 25px; 
    color: rgb(149, 143, 143);
    letter-spacing: 0.1em;
}

a {
    text-decoration: none;
}

section {
    padding-top: 30px;
  
}

p {
    margin: 0;
}

.desc-left, .desc-right {
    width: 567px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    border: burlywood solid 10px;
}

.footer-text {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    font-size: 17px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    color: gray;
}

.footer-text p {
    margin-right: 60px;
}

