ul {
    display: flex; /* Основною перевагою гнучкої FLEX розмітки 
    є можливість змінювати ширину,висоту, простір навколо і порядок flex-елементів  */
    justify-content: center; /*Визначає вирівнювання уздовж основної осі */
}

