@font-face {
    font-family: 'Myriad Pro Regular';
    src: url("../fonts/MyriadProRegular/MyriadProRegular.woff");
}

@font-face {
    font-family: 'Verdana';
    src: url("../fonts/Verdana/Verdana.ttf");
}

html,
body {
    font-size: 16px;
    font-family: 'Myriad ProRegula Regular';
}

.primor {
    width: 1200px;
    display: block;
    margin: auto;
    padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background image */
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../image/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

p {
    color: white;
}

.f_flexd {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.s_class {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.start_left {
    background-image: url("./../image/logowhite.png");
    display: block;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    background-size: 100%;
}

.start_left:hover {
    background-image: url("./../image/logo.png");
    background-repeat: no-repeat;
    display: block;
    height: 60px;
    width: 60px;
}

.start_left:hover .next_t {
    color: #F26522;
}

.start_left:hover .main_t {
    color: #F26522;
}

.main_t {
    width: 102px;
    padding-left: 70px;
    font-size: 1.9rem;
    font-family: 'Verdana';
    font-weight: bold;
}

.next_t {
    width: 300px;
    padding-left: 70px;
    font-size: 1.25rem;
    font-family: 'Verdana';
    font-weight: bold;
}

.next_p {
    margin-top: 0 auto;
    /* indentation from above */
    margin-bottom: 80px;
}

.start {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.start_right {
    display: block;
}

.links {
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
}

.next_2:hover .img-layer {
    opacity: 2;
    /* translucency of the element */
    height: 60px;
}

.img_s {
    overflow: hidden;
    /* 
Default. The content is not cut, can be displayed outside the block in which it is located. */
    position: relative;
    /* Set how the item is positioned relative to a browser window or other object on the webpage.*/
}

.img-layer {
    position: absolute;
    left: 0;
    bottom: 3px;
    right: 0;
    opacity: 0;
    background-color: #F26522;
    transition: 1s;
    /*-- transition effect -- */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 20px;
}

.p_sell:hover .img-layer {
    opacity: 1;
    height: 65px;
}

.p_sell:hover .sing {
    color: #F26522;
}

.next_2:hover .sing {
    color: #F26522;
}

.sing {
    text-align: center;
}

.hover-l {
    padding: 10px;
}

.hover-r {
    padding-top: 30px;
    padding-block-end: 5px;
    padding-right: 1px;
    height: 20px;
}

.h-p-1 {
    font-size: 0.70rem;
}

.h-p-2 {
    font-size: 1.25rem;
}

.next_2 {
    width: 300px;
}

.next_3:hover .sing {
    color: #F26522;
}

.img_s1 {
    overflow: hidden;
    /* Default. The content is not cut, can be displayed outside the block in which it is located. */
    position: relative;
}

.next_3:hover .img-layer {
    opacity: 2;
    /* translucency of the element */
    height: 60px;
}

.end_p {
    text-align: center;
    margin-top: 50px;
    marker-end: 10px;
}