.Title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    word-spacing: 2pt;
}

.Title p {
    width: 970px;
    display:block;
    background-color: #F5F6F7;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: bold;
}